[defaults]
inventory = inventories/production/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
callbacks_enabled = timer, profile_tasks
forks = 10
timeout = 30

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
