<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>{{ app_message }}</h1>
    <p>Application: {{ app_name }}</p>
    <p>Environment: {{ app_environment }}</p>
    <p>Managed by Ansible through Semaphore.</p>
    <h1>TESTING</h1> 
</body>
</html>
